<div class="card draggable" data-task-id= "<%= task.id %>" >

	<div class="card-body">
		<h5 class="card-title"><%= task.title %></h5>
		<h6 class="card-due_date"><%= task.due_date %></h6>
		<p class="card-text"><%= task.description %></p>
	</div>

</div>