<h1>Home Page</h1>
<h2>Welcome to Home Page.....</h2>
<p>Our online dashboard creator enables you to see more than just facts and figures. Our tool connects to all common data sources such as databases, flat files...to turn your raw data into something far more understandable for yourself and your colleagues.Additionally, our easy to access templates, which you can choose right after your login, provides an added feature for users who don’t want to build their own dashboards.</p>