// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

.container-fluid{
	padding-right: 1380px;
}

.droppable {
	min-height: 300px;
}
.draggable {
	z-index: 3;
}